<shaka-player
  [dashManifestUrl]="dashUrl"
  [autoPlay]="autoplay"
  [triggeredEvents]="events"
  posterUrl="../assets/poster.png"
  (videoLoaded)="handleVideoLoaded()"
  (videoTimeUpdated)="timeUpdated($event)"
  (playerEvents)="playerEventHandler($event)"
  (videoLoadError)="handleLoadError($event)"
  #pippo
>
</shaka-player>
{{ timestamp }}
<div>
  <input type="checkbox" (change)="autoplayChange()" />
  <button (click)="vodButtonClick()">VOD</button>
  <button (click)="liveButtonClick()">LIVE</button>
</div>
